# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\1.咸鱼先生的单片机开发文件\3.ESP32工程\34.C3_tft\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
